App\Entity\Actor:
  attributes:
    normalization_context:
      groups: ['read']
    denormalization_context:
      groups: ['create']
  itemOperations:
    get: ~
  collectionOperations:
    post: ~
    get: ~
    post_oscar_actor:
      normalization_context:
        groups: ['read', 'read_oscar']
      method: POST
      controller: App\Action\OscarActorAction
      path: /oscar_actors

App\Entity\Movie:
  attributes:
    pagination_client_enabled: false
  itemOperation: ~
  collectionOperations:
    get:
      normalization_context:
        groups: ['list']
App\Entity\Type:
  itemOperation: ~
  collectionOperations: ~